#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  width: 100vw;
  height: auto;

  box-sizing: border-box;

  background-color: rgb(48, 53, 63);
}

#game {
  width: 100%;
  height: 145vh;

  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
      "header scoreboard"
      "card-container card-container";


}

#header {
  grid-area: header;
  line-height: 0.2rem;
  height: 100%;
  /* justify-self: start; */
  align-self: start;
  /* border: 1px solid green; */
}

#header > * {
  margin: 15px;
  color: white;
}

#scoreboard {
  grid-area: scoreboard;
  /* border: 1px solid blue; */
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#card-container {
  grid-area: card-container;

  /* border: 1px solid orange; */
  height: 110vh;
  /* width: 100%; */
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  
  
}

.pokemon-card {
  border-radius: 15px;
  width: 75%;
  height: 95%;
  /* border: 1px solid purple; */
  background-color: rgb(197, 193, 189);
  justify-self: center;
  cursor: pointer;
  /* box-shadow: 0 0 5px rgb(214, 220, 139); */
  transition: box-shadow 0.5s ease, transform 120ms ease-in;

}

.pokemon-card>img {
  height: 10rem;
  width: 10rem;
  
}

.pokemon-card:hover {
  box-shadow: 0 5px 25px rgb(190, 191, 70);
  transform: scale(105%);
}

.endGame {
  color: white;
}

#restart-button {
  /* appearance: none; */
  all: unset;
  cursor: pointer;
  color: rgb(48, 53, 63);
  background-color: rgb(197, 193, 189);
  border-radius: 15px;
  width: 10rem;
  height: 4rem;
  transition: box-shadow 0.5s ease, transform 120ms ease-in;
}

#restart-button:hover {
  box-shadow: 0 5px 25px rgb(190, 191, 70);
  transform: scale(105%);
}